{% extends "base.html" %}



{% block content %}
<style>

    .rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 1024;
      padding: 0;
      margin: 0 auto;
      }

    .rslides li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 1024;
      left: 0;
      top: 0;
      }

    .rslides li:first-child {
      position: relative;
      display: block;
      float: left;
      }

    .rslides img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
      }
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 16.6666%;
      padding-right: 25px;
    }
    .p1{
        text-align: center;
        font-family:arial;
        font-size:16px;
        font-weight: bold;
        
    }

    .p2{
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size:20px;
        font-weight: bold;
        color:#1e6120;
        padding-bottom: 20px;
    }

    a:link {
    text-decoration: none;
    }

    a p:hover {
  color: rgb(108, 192, 93);
}
a.rslides_nav.rslides1_nav.prev {
    width: 42px;
    height: 78px;
    left: 6%;
    top: 50%;
    margin-top: -39px;
    position: absolute;
    display: block;
    text-indent: -200000px;
    background: url({{url_for('static',filename='images/slide_prev.png')}}) no-repeat 0 0;
    z-index: 100;
}
a.rslides_nav.rslides1_nav.next {
    width: 42px;
    height: 78px;
    right: 6%;
    top: 50%;
    margin-top: -39px;
    position: absolute;
    display: block;
    text-indent: -200000px;
    background: url({{url_for('static',filename='images/slide_next.png')}}) no-repeat 0 0;
    z-index: 100;
}
    img:hover{
    }
    </style>

    

<div class="w3-container w3-white">
<body >
    <ul class="rslides">
        <li>
            <img src="{{url_for('static',filename='images/green_wheat.jpg')}}" alt="">
            <div class="slide_caption">
                <h1>Wild Relatives, Synthetics NAM Population</h1>
            </div>
        </li>
        <li>
            <img src="{{url_for('static',filename='images/wheat_field.png')}}" alt="">
            <div class="slide_caption">
                <h1>Genome Sequences Annotation, Chromosome Interactions</h1>
            </div>
        </li>
        <li><img src="{{url_for('static',filename='images/wheat_lab.jpg')}}" alt="">
            <div class="slide_caption">
                <h1>CRISPR-CAS9, Combining Ability, D Genome Variation</h1>
            </div>
        </li>
        <li><img src="{{url_for('static',filename='images/wheat_dna.jpg')}}" alt="">
        <div class="slide_caption">
                <h1>Gene Isolation, Gene Suppression, Epistatic Interactions</h1>
            </div>
        </li>
        <li><img src="{{url_for('static',filename='images/wheat_drone.jpg')}}" alt="">
        <div class="slide_caption">
                <h1>Precision Phenotype, Physiological/Disease Application</h1>
            </div>
        </li>
        <li><img src="{{url_for('static',filename='images/wheat_globe.jpg')}}" alt="">
        <div class="slide_caption">
                <h1>Global Access, Utilization Policies</h1>
            </div>
        </li>
    </ul>
 <!--   <div class="column">
        <a href="{{ url_for("main") }}"><p id="homeheader" class = "p2">GENETIC RESOURCES
        </p></a>    
        
      </div>
      <div class="column">
        <a href="{{ url_for("activity1") }}"><p class = "p2">HARNESSING DIVERSITY</p></a>
        
      </div>
      <div class="column">
        <a href="{{ url_for("activity2") }}"><p class = "p2">ADVANCING DOMESTICATION</p></a>
        
      </div>

      <div class="column">
        <a href="{{ url_for("activity3") }}"><p class = "p2">ENABLING DISCOVERY
        </p></a>  
        
      </div>
      <div class="column">
        <a href="{{ url_for("activity4") }}"><p class = "p2">EXPEDITING DELIVERY
        </p></a>  
        
      </div>
      <div class="column">
        <a href="{{ url_for("activity5") }}"><p class = "p2">VALUATING DIVERSITY
        </p></a>  
        
      </div>



    
        <div class="column">
            <a href="{{ url_for("main") }}">
                <img alt="4dwheat_logo" src="{{url_for('static',filename='images/genetic_resources.png')}}" style="width:100%"/>
            </a> 
          
        </div>
        <div class="column">
            <a href="{{ url_for("activity1") }}">
                <img alt="4dwheat_logo" src="{{url_for('static',filename='images/harnessing_diversity.png')}}" style="width:100%"/>
            </a> 
          
        </div>
        <div class="column">
            <a href="{{ url_for("activity2") }}">
                <img alt="4dwheat_logo" src="{{url_for('static',filename='images/advancing_domestication.png')}}" style="width:100%"/>
            </a> 
          
        </div>

        <div class="column">
            <a href="{{ url_for("activity3") }}">
                <img alt="4dwheat_logo" src="{{url_for('static',filename='images/enabling_discovery.png')}}" style="width:100%"/>
            </a> 
          
        </div>
        <div class="column">
            <a href="{{ url_for("activity4") }}">
                <img alt="4dwheat_logo" src="{{url_for('static',filename='images/expediting_delivery.png')}}" style="width:100%"/>
            </a> 
          
        </div>
        <div class="column">
            <a href="{{ url_for("activity5") }}">
                <img alt="4dwheat_logo" src="{{url_for('static',filename='images/valuating_diversity.png')}}" style="width:100%"/>
            </a> 
          
        </div>-->

      
</body>
</div>




<!--<div class="w3-container w3-white" style = "padding-bottom: 100px;">
    <body>
        
            <div class="column">
                
              <p class = "p1">Wild Relatives, Synthetics NAM Population</p>
            </div>
            <div class="column">
                
              <p class = "p1">Genome Sequences Annotation, Chromosome Interactions</p>
            </div>
            <div class="column">
                
              <p class = "p1">CRISPR-CAS9, Combining Ability, D Genome Variation</p>
            </div>
    
            <div class="column">
                
              <p class = "p1">Gene Isolation, Gene Suppression, Epistatic Interactions
                </p>
            </div>
            <div class="column">
                
              <p class = "p1">Precision Phenotype, Physiological/Disease Application
                </p>
            </div>
            <div class="column">
                
              <p class = "p1">Global Access, Utilization Policies 
                </p>
            </div>
          
    </body>-->
    </div>
{% endblock %}
